<h2>Expériences</h2>

<ul>
    ${ yaml.map(experience => `
    <li>
        <h3>
            <span class="date">${ experience.from }-${ experience.to }</span>
            ${ experience.post } -
            <span class="font-light">${ experience.compagny.toUpperCase() }</span>
        </h3>
        <p class="p-0 m-0 smaller">
            ${ experience.intro }
        </p>
        <ol>
            ${ experience.description.map((item) => `<li>${item}</li>`).join('') }
        </ol>
    </li>
    `).join('')}
</ul>