app-link-list {
    .linkedin {
        background-image: url("/src/app/print/link-list/images/linkedin.svg");
    }
    .android {
        background-image: url("/src/app/print/link-list/images/android.svg");
    }
    .ios {
        background-image: url("/src/app/print/link-list/images/ios.svg");
    }
    .github {
        background-image: url("/src/app/print/link-list/images/github.svg");
    }
}
