<div class="w-10">
    <h1>
        <a class="accent" target="_blank" href="${ yaml.linkedin }" title="Ouvrir sur Linkedin">
            ${ yaml.firstname } ${ yaml.lastname }
        </a>
    </h1>
    <p class="accent">${ yaml.post }</p>
    <ul>
        <li>
            <a target="_blank" href="tel:${ yaml.phone.replace(/\s/g, '')  }" title="Lancer un appel">
                📱 ${ yaml.phone }
            </a>
        </li>
        <li>
            <a target="_blank" href="mailto:${ yaml.mail }" title="Ecrire un mail">
                📧 ${ yaml.mail }
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.google.com/maps/place/Annecy" title="Voir sur GoogleMap">
                🦆 ${ yaml.city }
            </a>
        </li>
    </ul>
</div>
<div class="flex w-2 h-9 flex-center-center">
    <img src="assets/identity.jpg" class="h-12 box" />
</div>