@import "./@variables.scss";
@import "./@helper.scss";

header {
    height: 15%;
}

h1 {
    @extend .m-0, .p-0, .font-2-5, .font-semi-bold, .accent, .letter-space, .caps;

    &+p {
        @extend .m-0, .p-0, .font-1-25, .font-medium, .letter-space;
    }

    &~ul {
        @extend .flex, .pt-3, .font-light, .font-0-75, .letter-space;

        li,
        a {
            @extend .grow, .accent;
        }
    }
}

h2 {
    @extend .m-0, .mb-3, .font-1-25, .font-bold, .accent, .letter-space, .caps;
}

h3 {
    @extend .m-0, .pb-2, .font-normal, .font-1;

    &+p {
        @extend .mb-4;
    }
}

p {
    @extend .font-light, .p-0, .m-0, .mb-3, .justify, .smaller, .primary-light;
    line-height: 1.1rem;
}

ul {
    @extend .m-0, .p-0;

    li {
        list-style-type: none;
    }

    & ul {
        @extend .flex, .mb-3, .font-light, .smaller, .letter-space;

        li {
            @extend .grow, .primary-light;
        }
    }

    ol {
        @extend .pl-4, .pb-4;

        li {
            @extend .font-light, .p-0, .m-0, .justify, .smaller, .primary-light;
            list-style-type: disc;
        }
    }
}

a {
    @extend .primary-light;
    text-decoration: none;
}

progress {
    @extend .block, .accent;
    height: $border;
    background-color: $accent-light;

    &::-webkit-progress-bar {
        background-color: $accent-light;
    }

    &::-moz-progress-bar {
        background-color: $accent !important;
    }

    &::-webkit-progress-value {
        background-color: $accent !important;
    }
}