<main class="box flex flex-column h-12 p-8">
    <header class="box h-2 pb-10">
        <app-identity class="box block h-12 p-4 overflow-hidden border-bottom"></app-identity>
    </header>
    <section class="flex flex-raw h-10">
        <article class="box pl-4 pr-6 w-5 border-right">
            <app-profile class="box block h-3 overflow-hidden"></app-profile>
            <app-skill-list class="box block h-6 overflow-hidden"></app-skill-list>
            <app-link-list class="box block h-3 overflow-hidden"></app-link-list>
        </article>
        <article class="box pl-6 pr-4 w-7">
            <app-experience-list class="box block h-6 overflow-hidden"></app-experience-list>
            <app-certification-list class="box block h-3 overflow-hidden"></app-certification-list>
            <app-education-list class="box block h-3 overflow-hidden"></app-education-list>
        </article>
    </section>
</main>